<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Page Not Found</title>
    
</head>
<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a class="active" href="/">Shop</a></li>
                <li class="main-header__item"><a href="/add-products">Add-Product</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div style="display: flex; align-items: center; justify-content: center;">
            <div style="display: block;">
                <h1 style="display: flex; align-items: center; justify-content: center; color: #454545;">
                    404
                </h1>
                <h1 style="display: flex; align-items: center; justify-content: center; color: #454545;">
                    Page Not Found
                </h1>
            </div>
        </div>
    </main>
</body>
</html>